body {
    margin: 20px auto;
    text-align: center;
}


div {
    line-height: 50px;
    font-size: 30px;
    font-family: arial;
}

button {
    background-color: #fff;
    border: 2px solid black;
    font-weight: bold;
    font-size: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
}

button:disabled {
    opacity: 0.3;
}